/* turn.js additional*/

.bookViewer{
	margin: 5px auto 0 auto;
}

.bookViewer .page{
	background: #FFF;
}

.bookFlipMode #viewerContainer {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bookFlipMode #viewerContainer.pdfPresentationMode:fullscreen,
.bookFlipMode #viewerContainer.pdfPresentationMode:-webkit-full-screen,
.bookFlipMode #viewerContainer.pdfPresentationMode:-moz-full-screen,
.bookFlipMode #viewerContainer.pdfPresentationMode:-ms-fullscreen {
	display: flex;
	align-items: center;
	justify-content: center;
}

.bookFlipMode #viewerContainer.pdfPresentationMode .bookViewer {
	margin: 0 auto;
	position: relative;
	flex-shrink: 0;
}

.pdfPresentationMode .bookViewer .page {
	margin: 0 !important;
	border: 0;
	display: block;
}

/* PDF.js additional */

.secondaryToolbarButton.bookFlip::before {
	content: url(secondaryToolbarButton-bookFlip.png);
}

@media screen and (-webkit-min-device-pixel-ratio: 1.1), screen and (min-resolution: 1.1dppx) {
	.secondaryToolbarButton.bookFlip::before {
		content: url(secondaryToolbarButton-bookFlip@2x.png);
	}
}
